
    
        <div class="testimonial-item">
            <div class="video-container">
                <div class="d-flex align-items-center justify-content-center">
                    <!-- <img src="assets/img/illustration-1.webp" class="" style="max-width: 350px; max-height: 250px;" alt=""> -->
                    <video controls>
                        <source src="{{video}}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
                <!-- <div class="play-button">
                    <img src="assets/img/circled-play.png" alt="play">
                </div> -->
            </div>
        </div>